@tailwind base;
@tailwind components;
@tailwind utilities;
/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.App {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  justify-content: center;
  gap: 16px;
}
.game__card {
  border: solid 1px #f2f2f2;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 8px RGBA(0, 0, 0, 0.2);
  border-radius: 8px;
}
